--index-url https://pypi.python.org/simple/


# TODO: Make sure requirements.txt are complete for exchange's env.
# GeoNode is now using >= and <= in setup.py, if you need specific versions,
# they should be listed in this file.
git+git://github.com/boundlessgeo/django-exchange-maploom.git@v1.5.10#egg=django-maploom
git+git://github.com/geopython/pycsw.git@4fc1fc1eee3ac4b83d2862d311b20efb142e13bd#egg=pycsw
geonode==2.5.2
dj-database-url==0.4.1
django-storages==1.1.8
boto==2.38.0
waitress==0.9.0
whitenoise==3.2
django-cors-headers==1.1.0
django-classification-banner==0.1.5
django-solo==1.1.2
django-colorfield==0.1.10
psycopg2==2.6.1
python-ldap==2.4.25
django-auth-ldap==1.2.7
GDAL==2.0.1
supervisor==3.2.3
gunicorn==19.4.5
corsa==0.1.2
python-resize-image==1.1.10
django-flat-theme==1.1.3
git+git://github.com/boundlessgeo/django-exchange-themes@master#egg=appearance
# Registry pinned dependencies
django-cache-url==1.2.0
elasticsearch==1.9.0
pylibmc==1.5.1
mapproxy==1.9.0
djmp==0.2.8
django-registry==0.3.6
git+git://github.com/boundlessgeo/django-osgeo-importer@b77ea961ea458b9c2ed8388ce7011a43e29f6fe9#egg=django-osgeo-importer
django-exchange-docs==1.1.0
