{% extends "services/services_base.html" %}
{% load bootstrap_tags %}
{% load i18n %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block title %} Register Service - {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="page-header">
    <a href="{% url "services" %}" class="btn btn-primary pull-right">{% trans "Return to List" %}</a>
    <h2>{% trans "Register New Service" %}</h2>
</div>
<div class="container">
    <div id="info" class="alert alert-info" style="display:none;"></div>
    <div id="warning" class="alert alert-warning" style="display:none;"></div>
    <div id="success" class="alert alert-success" style="display:none;"> {%  trans "Service has been imported successfully!" %}</div>
    <div id="error" class="alert alert-danger" style="display:none;"></div>
    <form method="POST" id="service_register_form">
        {% csrf_token %}
        {{ create_service_form|as_bootstrap }}
        <input type="submit" class="btn btn-primary pull-left" id="submit_button" value="{% trans "Submit" %}" />
    </form>
</div>
<br/>
<div class="container">
    <div id="responseDiv" style="display:none;">
        <h4>{%  trans "Service details:" %}</h4>
    </div>

    <div id="tableDiv" style="display:none;">
        <p>{%  trans "The following layers can be published:" %}</p>
        <table id="dataTable" class="table"></table>
    </div>
</div>
{% endblock %}
{% block extra_script %}
{{ block.super }}
<script type="text/javascript">
    $( document ).ready(function() {
        var intervalID;
        function checkName(){
            var service_name_regexp = new RegExp('^[a-zA-Z]+[a-zA-Z0-9-_\.]*$');
            if(!service_name_regexp.test($("#id_name").val())) {
                $("#warning").html("Service name must start with a letter, followed by letters, numbers, or the characters: . - _").show();
                $("#submit_button").prop("disabled",false);
                return false;
            }else{
                $("#warning").hide();
                return true;
            }
        }

        function checkSupportedEsriType(){
            var url = $("#id_url").val().toLowerCase();
            if(url.indexOf('rest/services') >= 0 && url.indexOf('featureserver') >=0) {
                $("#warning").html("Please enter a valid MapServer or ImageServer service url.").show();
                $("#submit_button").prop("disabled",false);
                return false;
            }else{
                $("#warning").hide();
                return true;
            }
        }

        $("#service_register_form").submit(function(e) {
            if(checkName() && checkSupportedEsriType()) {
                $("#info").html("<img src='/static/geonode/img/loading.gif'/>&nbsp; Importing service, please wait...").show();
                $(".result").remove();
                $("#tableDiv").hide();
                $("#warning").hide();
                $("#dataTable").html("");
                $("#success").hide();
                $("#error").hide();
                $("#submit_button").prop("disabled", true);
                e.preventDefault();
                var url = $("#service_register_form").attr("action");

                $.ajax({
                    type: "POST",
                    url: url,
                    dataType: "json",
                    data: $("#service_register_form").serialize(), // serializes the form's elements.
                    progress: function (jqXHR, progressEvent) {
                        if (progressEvent.lengthComputable) {
                            console.log("Importing service and layers - " + (Math.round(progressEvent.loaded / progressEvent.total * 100)) + "%");
                        } else {
                            console.log("Importing service and layers...");
                        }
                    },
                    success: function (data) {
                        $("#responseDiv").html("");

                        if (data.job_id){
                            intervalID = setInterval(function() {
                                $.get('/services/registration/'+ data.job_id + '/status', function(data) {
                                    if(data.status === 'completed'){
                                        clearInterval(intervalID);
                                        $("#info").hide();
                                        $("#submit_button").prop("disabled", false);
                                        var hasSuccess = false;
                                        var error_count = 0;
                                        var layer_count = 0;
                                        for (var item in data.result) {
                                            if (data.result[item].service_id) {
                                                hasSuccess = true;

                                                if (data.result[item].available_layers) {
                                                    layer_count += data.result[item].available_layers.length;
                                                }

                                            } else {
                                                error_count++;
                                                $('<div>').attr("class", "result").text(data.result[item].msg).appendTo("#responseDiv");
                                            }

                                            $("#responseDiv").show();
                                        }

                                        if (error_count == 0){
                                            if (data.result.length == 1){
                                                $('#success').show();
                                                setTimeout(function(){ window.location = "/services/" + data.result[item].service_id; }, 1000);
                                            } else {
                                                $("#success").html('Successfully imported ' + layer_count + ' layers from ' + data.result.length +' services.');
                                                $('#success').show();
                                                setTimeout(function(){ window.location = "/services/"; }, 1000);
                                            }

                                        } else if (error_count < data.result.length) {
                                            $("#warning").html(layer_count + ' layers successfully importered, however, there were ' + error_count +' errors encountered while processing ' + data.result.length +' services. Please see below for details.');
                                            $("#warning").show();
                                        }
                                    } else  if(data.status === 'failed') {
                                        clearInterval(intervalID);
                                        $("#error").html('An unexpected error has occurred, please try again later.');
                                        $("#error").show();
                                        $("#info").hide();
                                        $("#responseDiv").html("");
                                    }
                                } );
                            }, 1000);
                        }
                        else{
                            $("#warning").html('Unable to resolve any layers from the service type. Please check the Service Url and Service Type.');
                            $("#warning").show();
                            $("#submit_button").prop("disabled", false);
                        }
                    },
                    error: function (data) {
                        $("#submit_button").prop("disabled", false);
                        if (data.status == 500) {
                            console.error(data.responseText);
                        }
                        $("#error").html('Unable to access the service provider. Please check the Service Url and Service Type.');
                        $("#error").show();
                        $("#info").hide();
                        $("#responseDiv").html("");
                    }
                });
            }
            return false; // avoid to execute the actual submit of the form.
        });

    });

</script>
{% endblock %}