{% extends "site_base.html" %}
{% load i18n %}
{% load bootstrap_tags %}
{% load url from future %}

{% block title %} CSW Record Creation Status - {{ block.super }} {% endblock %}

{% block body %}

<style>
    .record {
        padding: 1em;
        margin: 1em;
    }
    .unknown {
        background-color: #f7f7f7;
    }
    .pending {
        background-color: #feffce;
    }
    .error {
        background-color: #ffd0ce;
    }
    .complete {
        background-color: #daffce;
    }
</style>

<div class="page-header">
    <h2 class="page-title">{% trans "My CSW Records" %}</h2>
    <span>
        <a href="/csw/new">Insert a new CSW record</a>
    </span>
</div>

<div id="records">
</div>

{% endblock body %}

{% block extra_script %}
<script type="text/javascript">
    function refresh_status() {
        $('#records').load('/csw/status_table');
    };

    $(document).ready(
            function() {
                refresh_status();
                setInterval(refresh_status, 10000);
            });
</script>
{% endblock extra_script %}

