.navbar-nav .dropdown-menu .divider {
    background-color: #384056;
}

body {
    padding-top: 50px;
}

.navbar-inverse .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 300;
    color: #dedede !important;
}

.dropdown-menu > li > a {
    font-size: 15px;
    font-weight: 300;
}

a.navbar-brand {
    height: 45px;
    background-size: 65%;
}

.navbar-inverse {
    background: #262c3a;
    background: linear-gradient(107deg, #262c3a 8%, #29648e 140%);
}

.navbar-nav .dropdown-menu {
    background-color: #262c3a !important;
}

.navbar-nav .search {
    top: 10px;
    margin-left: 25px;
    margin-right: 0;
}

.navbar-nav .search input {
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
}

.navbar-nav .search .fa-search:hover {
    color: #777777;
}

.navbar-nav {
    float: right;
}

.dropdown-toggle .fa-caret-down {
    font-size: 12px;
    margin-left: 3px;
}

.dropdown-toggle .fa-caret-down:hover {
    color: white;
}

.navbar-nav .avatar img {
    border: 1px solid #313b52;
    height: 25px;
    width: 25px;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .open > a {
    background-color: transparent !important;
    color: white !important;
}

.shim, .footer {
    background-color: #273b51 !important;
}

.home #showcase .col-md-3 img {
    border: 1px solid #dbddde;
    padding: 8px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500 !important;
}

.shim {
    padding-bottom: .5em;
    padding-top: .5em;
}

.jumbotron > div {
    min-height: 80px;
}

.jumbotron > .container > .search {

    left: 0;
    position: relative;
    color: #444;
    top: 20px;
    padding-bottom: 2em;
    margin: auto;
    width: 50%;
}

.jumbotron > .container > h1 {
    text-align: center;
    font-size: 41px;
}

#search span {
    position: absolute;
    top: 10px;
    left: 15px;
}

.jumbotron #search_input {
    text-indent: 64px;
    width: 100%;
    height: 56px;
    border: 1px solid #333;
    border-radius: 5px;
    outline-width: 0;
    font-size: 1.5em;
}