<!DOCTYPE html>
{% extends "base.html" %}
{% load classification_banner i18n %}
{% load staticfiles %}
{% load solo_tags %}

{% block extra_head %}
  {% get_solo 'core.LogoImage' as logo %}
  {% get_solo 'core.NavbarColor' as navcolor %}
  {% get_solo 'core.HyperlinkColor' as hyperlinkcolor %}
  <link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>
  <link href="{{ STATIC_URL }}font-exchange/style.css" rel="stylesheet"/>
  <style>
    .navbar-brand {
      background-image: url('{{ logo.logo_image.url }}');
    }
    .navbar-inverse {
      background-image: -webkit-gradient(linear,left top,left bottom,from({{ navcolor.color }}),to(#222));;
    }
    .footer {
      background-image: -webkit-gradient(linear,left top,left bottom,from({{ navcolor.color }}),to(#222));;
    }
    a {
      color: {{ hyperlinkcolor.color }};
    }
    a:hover {
      color: {{ hyperlinkcolor.color }};
    }
  </style>
{% endblock %}
{% block header %}
    {% if classification_banner_enabled %}
        <link href="{{ STATIC_URL }}css/django_classification_banner_overrides.css" rel="stylesheet"/>
        {% classification_banner %}
    {% endif %}
    {{ block.super }}
{% endblock %}
