{% load i18n %}
{% verbatim %}
<script src="/static/js/clipboard.min.js"></script>
<div class="row">
  <div class="ng-hide" ng-show="results.length == 0">
    <div><h3>No content created yet.</h3></div>
  </div>
  <article ng-repeat="item in results" resource_id="{{ item.id || item.layer_identifier }}" ng-cloak class="ng-cloak">
    <div class="col-xs-12 item-container" ng-if="item.detail_url">
      <div class="col-xs-12 profile-avatar">
        <div class="col-xs-4 item-thumb">
          <a href="{{ item.detail_url }}"><img class="thumbnail" onerror="this.src='/static/geonode/img/missing_thumb.png'" ng-src="{{ cart.getThumbnailUrl(item) }}" /></a>
        </div>
        <div class="col-xs-8 item-details">
          {% endverbatim %}
          <button ng-if="cart && item.detail_url.indexOf('/layers/') > -1" class="btn btn-default btn-xs pull-right" ng-click="cart.toggleItem(item)"><i ng-class="cart.getFaClass(item.id)" class="fa fa-lg"></i></button>
          {% verbatim %}
          <p class="item-meta"><span class="item-category">{{ item.category__gn_description == '[]' ? '' : item.category__gn_description }}</span></p>
          <h4><a href="{{ item.detail_url }}">{{ item.title }}</a></h4>
          <p class="abstract">{{ item.abstract | limitTo: 300 }}{{ item.abstract.length  > 300 ? '...' : ''}}</p>
          <div class="row">
            <div class="col-xs-12 item-items">
              <ul class="list-inline">
                <li><a href="/people/profile/{{ item.owner__username }}"><i class="fa fa-user"></i>{{ item.owner__username }}</a></li>
                <li><a href="{{ item.detail_url }}#info"><i class="fa fa-calendar-o"></i>{{ item.date|date:'d MMM y' }}</a></li>
                <li><a href="{{ item.detail_url }}"><i class="fa fa-eye"></i>{{ item.popular_count }}</a></li>
                <li><a href="{{ item.detail_url }}#share"><i class="fa fa-share"></i>{{ item.share_count }}</a></li>
                <li><a href="{{ item.detail_url }}#rate"><i class="fa fa-star"></i>{{ item.rating }}</a></li>
                <li><a ng-if="item.detail_url.indexOf('/layers/') > -1" href="{% endverbatim %}{% url "new_map" %}?layer={% verbatim %}{{ item.detail_url.substring(8) }}">
                  {% endverbatim %}
                  <i class="fa fa-map-marker"></i>{% trans "Create a Map" %}</a>
                  {% verbatim %}
                </li>
                <li><a ng-if="item.geogig_link" href="{{ item.geogig_link}}" target="_blank" class="fa fa-code-fork">&nbsp;GeoGig</a></li>
                <li><a ng-if="item.detail_url.indexOf('/maps/') > -1" href="/maps/{{item.id}}/view"><i class="fa fa-map-marker"></i>View Map</a></li>
                <li><a ng-if="item.detail_url.indexOf('/story/') > -1" href="/story/{{item.id}}"><i class="fa fa-map"></i>View Story</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 item-container" ng-if="!item.detail_url">
      <div class="col-xs-12 profile-avatar">
        <div class="col-xs-4 item-thumb">
          <a href="{{ item.thumbnail_url }}"><img class="thumbnail" onerror="this.src='/static/geonode/img/missing_thumb.png'" ng-src="{{ item.thumbnail_url }}" /></a>
        </div>
        <div class="col-xs-8 item-details">
          {% endverbatim %}
          <button class="btn btn-default btn-xs pull-right" ng-click="cart.toggleItem(item)"><i ng-class="cart.getFaClass(item.id)" class="fa fa-lg"></i></button>
          {% verbatim %}
          <p class="item-meta"><span class="item-category">{{ item.registry.category }}</span></p>
          <h4>{{ item.title }}</h4>
          <p class="abstract">{{ item.abstract | limitTo: 300 }}{{ item.abstract.length  > 300 ? '...' : ''}}</p>
          <div class="row">
            <div class="col-xs-12 item-items">
              <ul class="list-inline">
                <li ng-if="item.layer_originator"><a href="#"><i class="fa fa-user"></i>{{ item.layer_originator }}</a></li>
                <li ng-if="item.layer_date"><a href="#"><i class="fa fa-calendar-o"></i>{{ item.layer_date|date:'d MMM y' }}</a></li>
                <li><a href="{{ item.registry_url }}" target="_registry"><i class="fa fa-globe"></i>Registry JSON Information</a></li>
                <li><a href="{{ item.source }}" target="_registry"><i class="fa fa-globe"></i>Source Service Endpoint</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
{% endverbatim %}
