{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "Log In to an existing account" %}</h2>
</div>
<div class="row">
  <div class="col-md-8">
    <form role="form" method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
      {% csrf_token %}
      {{ form|as_bootstrap }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="form-group">
        <p><a href="{% url "forgot_username" %}">{% trans "Forgot your username?" %}</a></p>
        <p><a href="{% url "account_password_reset" %}">{% trans "Forgot your password?" %}</a></p>
      </div>
      <button type="submit" class="btn btn-primary">{% trans "Log In" %}</button>
    </form>

  </div>

   {% if ENABLE_SOCIAL_LOGIN %}

    <div class="col-md-4" style="float:right;">

        {% if ENABLE_FACEBOOK_LOGIN %}
            <a class="btn-facebook btn-social btn bg-ms btn-block" href="{% url 'social:begin' 'facebook' %}?{{ redirect_field_name }}={{ redirect_field_value }}">
                <i class="fa fa-facebook"></i> Log In with Facebook
            </a>
        {% endif %}
        {% if ENABLE_GOOGLE_LOGIN %}
            <a class="btn-google btn-social btn bg-ms btn-block" href="{% url 'social:begin' 'google-oauth2' %}?{{ redirect_field_name }}={{ redirect_field_value }}">
                <i class="fa fa-google"></i> Log In with Google
            </a>
        {% endif %}
        {% if ENABLE_GEOAXIS_LOGIN %}
            <a class="btn-geoaxis btn-social btn bg-ms btn-block" href="{% url 'social:begin' 'geoaxis' %}?{{ redirect_field_name }}={{ redirect_field_value }}">
                <i class="fa fa-lock"></i> Log In with GeoAxis
            </a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %} 
 
 